Repository duckies/cop4331c-form-submission-system: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 80%
        flags: frontend
      backend:
        target: 80%
        flags: backend

flags:
  frontend:
    paths:
      - frontend/
  backend:
    paths:
      - backend/

Test coverage by removing config spec.
  backend/src/config/config.service.spec.ts
Due: backend

Insist on verbose testing for diagnostics.
  .github/workflows/tests.yml
  backend/package.json
  backend/src/config/config.service.spec.ts
Due: backend

Try without caching enabled.
  backend/package.json
Due: backend

More testing changing.
  backend/package.json
Due: backend

Different testing construction.
  backend/src/config/config.service.spec.ts
Due: backend

Try try-catch magic.
  backend/src/config/config.service.spec.ts
Due: backend

Perhaps we're tainting the other modules.
  backend/src/config/config.service.spec.ts
Due: backend

I give up, rip perfect code coverage.
  backend/src/config/config.service.spec.ts
Due: backend

Properly mock the fs module.
  backend/src/config/config.service.spec.ts
Due: backend

Add codecov comment layout.
  codecov.yml
Due: none

Add initial question code, begin e2e testing.
  .github/workflows/tests.yml
  .gitignore
  .vscode/settings.json
  backend/src/app.module.ts
  backend/src/form/form.entity.ts
  backend/src/main.ts
  backend/src/question/dto/create-question.dto.ts
  backend/src/question/dto/update-question.dto.ts
  backend/src/question/question.controller.ts
  backend/src/question/question.entity.ts
  backend/src/question/question.module.ts
  backend/src/question/question.service.spec.ts
  backend/src/question/question.service.ts
  testing.env
Due: backend

More testing adventures.
  .github/workflows/tests.yml
  backend/package.json
  backend/src/config/config.module.ts
  backend/src/config/config.service.ts
  backend/test/app.e2e-spec.ts
  testing.env
Due: backend

Implement e2e testing.
  .github/workflows/tests.yml
  .vscode/settings.json
  backend/.prettierrc
  backend/migrations/1573859008871-SEED_ADMIN_ACCOUNT.ts
  backend/src/app.module.ts
  backend/src/config/config.service.ts
  backend/src/user/user.entity.ts
  backend/test/app.e2e-spec.ts
  backend/test/form.e2e-spec.ts
  docs/CONFIGURATION.md
  package.json
  testing.env
Due: backend

Repair config tests for new dropSchema setting.
  backend/src/config/config.service.spec.ts
Due: backend

Test fixing postgres for GitHub CI.
  .github/workflows/tests.yml
Due: none

PostgreSQL must be 11 or lower for TypeORM at this time.
  .github/workflows/tests.yml
Due: none

Enable coverage from e2e tests.
  backend/test/jest-e2e.json
Due: backend

Fix coverage for e2e tests, less awkward structure.
  backend/package.json
  backend/test/form.e2e-spec.ts
  backend/test/jest-e2e.json
Due: backend

Actually add the files...
  backend/jest-e2e.json
  backend/src/form/form.e2e-spec.ts
  backend/src/question/question.e2e-spec.ts
Due: backend

Fix intermingled test files.
  .gitignore
  backend/jest-e2e.json
  backend/src/form/form.e2e.ts
  backend/src/question/question.e2e.ts
Due: backend

Cleanup question and form modules.
  backend/package.json
  backend/src/form/dto/find-form.dto.ts
  backend/src/form/form.controller.ts
  backend/src/question/dto/create-question.dto.ts
  backend/src/question/dto/find-question.dto.ts
  backend/src/question/question.controller.ts
  backend/src/question/question.e2e.ts
  backend/src/question/question.entity.ts
  backend/src/question/question.service.spec.ts
  backend/src/question/question.service.ts
Due: backend

Correct tests for new FindFormDto.
  backend/src/form/form.controller.spec.ts
Due: backend

Initialize submission checking and file uploads.
  .gitignore
  backend/package.json
  backend/src/app.module.ts
  backend/src/form/form.entity.ts
  backend/src/main.ts
  backend/src/question/dto/create-question.dto.ts
  backend/src/question/dto/find-question-type.dto.ts
  backend/src/question/dto/update-question.dto.ts
  backend/src/question/question.controller.ts
  backend/src/question/question.entity.ts
  backend/src/question/question.module.ts
  backend/src/question/question.service.spec.ts
  backend/src/question/question.service.ts
  backend/src/submission/dto/create-submission.dto.ts
  backend/src/submission/dto/find-submission.dto.ts
  backend/src/submission/multer.interceptor.ts
  backend/src/submission/submission.controller.ts
  backend/src/submission/submission.entity.ts
  backend/src/submission/submission.module.ts
  backend/src/submission/submission.service.ts
  frontend/layouts/default.vue
  frontend/package.json
  frontend/pages/index.vue
Due: frontend, backend

Fixes for tests and submission array validations.
  .vscode/settings.json
  backend/jest-e2e.json
  backend/package-lock.json
  backend/package.json
  backend/src/submission/submission.controller.ts
  backend/src/submission/submission.service.spec.ts
  backend/src/submission/submission.service.ts
  backend/tests/fixtures/document.doc
  backend/tests/fixtures/document.docx
  backend/tests/fixtures/document.pdf
  backend/tests/form.spec-e2e.ts
  backend/tests/question.spec-e2e.ts
  backend/tests/submission.spec-e2e.ts
  frontend/components/FileInput.vue
Due: frontend, backend

Remove skip if no questions are found. Multer parses the body.
  backend/src/submission/multer.interceptor.ts
Due: backend

Add multer interceptor tests.
  backend/tests/submission.spec-e2e.ts
Due: backend

Remove unnecessary console import & add tests.
  backend/src/user/user.console.spec.ts
  backend/src/user/user.console.ts
Due: backend

Finish user and question testing.
  backend/tests/question.spec-e2e.ts
Due: backend

Actually add the user testing file.
  backend/tests/user.spec-e2e.ts
Due: backend

Test for invalid JWT tokens.
  backend/tests/user.spec-e2e.ts
Due: backend

Simplify config initializer and fix tests.
  backend/package.json
  backend/src/config/config.module.ts
  backend/src/config/config.service.spec.ts
  backend/src/config/config.service.ts
Due: backend

Fix forms should sort questions by order, implement find multiple forms.
  backend/src/form/dto/find-forms.dto.ts
  backend/src/form/form.controller.ts
  backend/src/form/form.service.ts
Due: backend

Switch to ENV variables for backend connection.
  frontend/nuxt.config.js
Due: frontend

Extract CSS to prevent FOUC.
  frontend/nuxt.config.js
Due: frontend

Actually save the config file.
  frontend/nuxt.config.js
Due: frontend

Include the files directory in project structure.
  files/.gitignore
Due: none

Create frontend support for config.env file.
  .gitignore
  backend/src/config/config.service.ts
  backend/src/main.ts
  config.env.example
  docs/CONFIGURATION.md
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend, backend

Style revisions, form validation and file limits.
  frontend/assets/styles.scss
  frontend/components/fields/Field.vue
  frontend/components/fields/FileInput.vue
  frontend/layouts/admin.vue
  frontend/layouts/error.vue
  frontend/middleware/README.md
  frontend/pages/admin/form/_id/edit.vue
  frontend/pages/admin/index.vue
  frontend/pages/form/_id.vue
  frontend/pages/form/success.vue
  frontend/pages/index.vue
  frontend/plugins/vee-validate.js
Due: frontend

Repair dragging on mobile devices.
  frontend/components/fields/Field.vue
  frontend/nuxt.config.js
  frontend/pages/admin/form/_id/edit.vue
  frontend/pages/admin/form/_id/submission/_sub.vue
  frontend/pages/form/_id.vue
Due: frontend
