Repository duckies/cop4331c-form-submission-system: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Fix testing
  package.json
Due: none

Use lerna tests
  .github/workflows/tests.yml
Due: none

Added TypeORM and Postgres support
  .gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  ormconfig.example.json
  package-lock.json
Due: backend

Readme documentation and contribution guides
  README.md
  docs/CONTRIBUTING.md
Due: none

Initial explanation on backend project structure.
  docs/STRUCTURE.md
Due: none

Clarification in structure documentation.
  docs/STRUCTURE.md
Due: none

Add initial frontend documentation.
  docs/STRUCTURE.md
Due: none

Add database documentation and readme badges.
  README.md
  docs/DATABASE.md
  docs/STRUCTURE.md
Due: none

Add ESLint and Prettier. All code linting correctly.
  backend/.eslintrc.js
  backend/.prettierrc
  backend/README.md
  backend/ormconfig.example.json
  backend/package-lock.json
  backend/package.json
  backend/src/main.ts
  docs/CONTRIBUTING.md
  frontend/.eslintrc.js
  frontend/.prettierrc
  frontend/README.md
  frontend/layouts/default.vue
  frontend/layouts/error.vue
  frontend/pages/index.vue
  package-lock.json
  package.json
Due: frontend, backend

Add recommended VSCode extensions
  docs/CONTRIBUTING.md
Due: none

Destroy typo
  docs/CONTRIBUTING.md
Due: none

Ignore coverage and build folders from commits
  .gitignore
Due: none

Allow port modification through env
  backend/package-lock.json
  backend/src/main.ts
Due: backend

Add procfile, see if Heroku works
  package-lock.json
  package.json
Due: none

Switch to postbuild script
  package.json
Due: none

Some changes
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/main.ts
  frontend/pages/index.vue
  package-lock.json
  package.json
Due: frontend, backend

Some files I forgot
  Procfile
  backend/src/dto/get-hello.dto.ts
Due: backend

Revert "Some files I forgot"
  Procfile
  backend/src/dto/get-hello.dto.ts
Due: backend

Revert "Some changes"
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/main.ts
  frontend/pages/index.vue
  package-lock.json
  package.json
Due: frontend, backend

Prefer hoisting by default.
  lerna.json
Due: none

Update dependencies
  backend/package-lock.json
  backend/package.json
  frontend/package.json
  package-lock.json
  package.json
Due: frontend, backend

Database, logging, and configuration scaffolding.
  .gitignore
  backend/ormconfig.example.json
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  docs/DATABASE.md
  package-lock.json
Due: backend

Forgot to track the new files.
  backend/src/config/config.module.ts
  backend/src/config/config.service.ts
  backend/src/logging/logging.module.ts
  backend/src/logging/logging.service.ts
  backend/src/typeorm.service.ts
  production.env.example
Due: backend

Use a validation schema for config file.
  backend/package-lock.json
  backend/package.json
  backend/src/config/config.service.ts
  backend/src/typeorm.service.ts
  config.env.example
  docs/DATABASE.md
Due: backend

Database class no longer necessary.
  backend/src/app.module.ts
  backend/src/typeorm.service.ts
Due: backend

Authentication, User, JWT, Password changing.
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/guards/jwt.guard.ts
  backend/src/auth/guards/local.guard.ts
  backend/src/auth/interfaces/jwt.interface.ts
  backend/src/auth/strategies/jwt.strategy.ts
  backend/src/auth/strategies/local.strategy.ts
  backend/src/config/config.service.ts
  backend/src/console.ts
  backend/src/user/user.console.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.decorator.ts
  backend/src/user/user.entity.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
  package.json
Due: backend

Explain what the Usr() decorator does.
  backend/src/user/user.decorator.ts
Due: backend

Delete user creation method.
  backend/src/user/user.controller.ts
Due: backend

Add many tests..
  backend/package-lock.json
  backend/package.json
  backend/src/auth/auth.controller.spec.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/guards/guard.spec.ts
  backend/src/logging/logging.service.spec.ts
  backend/src/logging/logging.service.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.decorator.spec.ts
Due: backend

Tests no longer run bootstrapping twice.
  .github/workflows/tests.yml
  package-lock.json
Due: none

Remove unnecessary node versions.
  .github/workflows/tests.yml
Due: none

Remove dangerous test.
  backend/src/logging/logging.service.spec.ts
Due: backend

Amend config errors exploding on tests.
  .github/workflows/tests.yml
  backend/package-lock.json
  backend/src/logging/logging.service.spec.ts
  config.env.example
  frontend/package-lock.json
Due: frontend, backend

Disable accidentally enabled e2e test.
  backend/src/auth/guards/guard.spec.ts
Due: backend

Include configuration file documentation.
  docs/CONFIGURATION.md
Due: none

Enable the validation pipe.
  backend/src/main.ts
Due: backend

Create form module.
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/config/config.service.spec.ts
  backend/src/form/dto/create-form.dto.ts
  backend/src/form/dto/update-form.dto.ts
  backend/src/form/form.controller.spec.ts
  backend/src/form/form.controller.ts
  backend/src/form/form.entity.ts
  backend/src/form/form.module.ts
  backend/src/form/form.service.spec.ts
  backend/src/form/form.service.ts
  backend/src/main.ts
  backend/src/typeorm.filter.ts
  backend/src/user/user.entity.ts
Due: backend

Complete initial unit testing.
  backend/.eslintrc.js
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/guards/guards.spec.ts
  backend/src/config/config.module.ts
  backend/src/config/config.service.spec.ts
  backend/src/config/config.service.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
Due: backend

Try to fix online tests, again...
  .github/workflows/tests.yml
Due: none

Restructure test script.
  .github/workflows/tests.yml
Due: none

Path conditions:
  frontend: any of: frontend/
  backend: any of: backend/
