Repository duckies/cop4331c-form-submission-system: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 80%
        flags: frontend
      backend:
        target: 80%
        flags: backend

flags:
  frontend:
    paths:
      - frontend/
  backend:
    paths:
      - backend/

Add migrations for initial database structure.
  backend/migrations/1573859008871-SEED_ADMIN_ACCOUNT.ts
  backend/migrations/1575152570449-InitializeDatabase.ts
  backend/src/config/config.service.ts
  docs/CONFIGURATION.md
Due: backend

Cleaning up unused files and scripts.
  docs/CONTRIBUTING.md
  package.json
Due: none

Minor title tweaks.
  frontend/layouts/default.vue
  frontend/nuxt.config.js
Due: frontend

Fix date-fns module missing since it was installed incorrectly.
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Due: frontend

Patch single checkbox fields, form loading button.
  backend/src/question/question.service.ts
  frontend/pages/form/_id.vue
Due: frontend, backend

Forgot to add html support for descriptions.
  frontend/pages/admin/form/_id/edit.vue
  frontend/pages/admin/form/_id/submission/_sub.vue
  frontend/pages/admin/form/_id/submissions.vue
  frontend/pages/form/_id.vue
Due: frontend

Fix testing
  backend/src/question/question.service.spec.ts
  backend/src/question/question.service.ts
  backend/tests/question.spec-e2e.ts
  backend/tests/submission.spec-e2e.ts
  package.json
  testing.env
Due: backend
